<h1><%= @team.name %></h1>

<p>Matches: <%= @team.games_played %></p>
<p>Wins: <%= @team.games_won %></p>
<p>Losses: <%= @team.games_lost %></p>

<ol>
  <% @team.players.order(:id).each do |player| %>
  <li class='list'><%= link_to player.name, player %></li>
  <% end %>
</ol>

<div class="controls list">
  <%= link_to 'Edit team', edit_team_path(@team) %>
  <%= button_to 'Delete team', @team, :method => 'delete', :data => {:confirm => 'Are you sure?'} %>
</div>
