<h1>Choose your teams</h1>

<%= form_tag do %>
  <%= label_tag :firstteam, 'Batting First' %>
  <%= select_tag :firstteam, options_from_collection_for_select(@teams, "id", "name") %>
  <%= label_tag :secondteam, 'Bowling First'%>
  <%= select_tag :secondteam, options_from_collection_for_select(@teams, "id", "name") %>
  <%= submit_tag 'Play game' %>
<% end %>

<img src="/assets/cricket-ball.png" alt="cricket logo">
