<h1>Edit <%= @player.name %></h1>

<%= form_for @player do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name, :required => true %><br>
  <%= f.label :bat__rating, 'Batting Rating' %>
  <%= f.select :bat__rating, options_for_select(1..5)%><br><br>
  <%= f.submit %>
<% end %>

<img src="/assets/cricket-ball.png" alt="cricket logo">
