<!DOCTYPE html>
<html>
  <head>
    <title>MattCricketGame</title>
    <%= Gon::Base.render_data %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class ='container'>

    <nav class="navbar navbar-dark bg-dark">
      <ul class="nav">
        <li class="nav-item"><%= link_to 'Home', root_path, :class => 'nav-link'%></li>
        <% if @current_user.present? %>
          <li class="nav-item"><%= link_to "Log out", login_path, :method => 'delete', :class => 'nav-link' %></li>
          <li class="nav-item"><%= link_to "Customise Teams", teams_path, :class => 'nav-link' %></li>
          <li class="nav-item"><%= link_to "Play Game", games_path, :class => 'nav-link' %></li>
        <% else %>
          <li class="nav-item"><%= link_to 'Log in', login_path, :class => 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Sign up', new_user_path, :class => 'nav-link' %></li>
        <% end %>
      </ul>
    </nav>

    <%= yield %>

    </div>
  </body>
</html>
